* {
 font-family: inherit;  /* we can get rid of this after pulling in Matt's new stuff */
}

#evoroom {
	background-image: url('/images/bkgd_evoroom.png');
	background-repeat: no-repeat;
	width: 800px;
	height: 1186px;
	font-size: 24px;
	position: relative;
	font-family: 'Droid Sans', sans-serif;
}

.full-text-box {
	position: absolute;
	bottom: 0px;
	left: 50%;			
	margin-left: -260px;				/* always width/2 */
	width: 520px;
	height: 780px;
	display: table;
	background-color: #F7F7F7;
	padding: 35px;
}

.title {
	margin-top: 15px;
	margin-bottom: 20px;
}

.big-button {
	position: absolute;
	bottom: 80px;
	left: 50%;
	margin-left: -170px;	
	width: 340px;
	height: 60px;
	font-size: 28px;
	color: white;
	background: url('');
	background-color: #007ADF;
	border: 1px solid #007ADF;	
}

.big-error-resolver-button {
	position: absolute;
	bottom: 160px;
	left: 50%;
	margin-left: -170px;	
	width: 340px;
	height: 60px;
	font-size: 28px;
	color: white;
	background: url('');
	background-color: #007ADF;
	border: 1px solid #007ADF;	
}

.small-error-resolver-button {
	/*position: absolute;*/
	/*bottom: 160px;*/
	/*left: 50%;*/
	/*margin-left: -70px;*/
	/*width: 140px;*/
	margin-top: 20px;
	height: 60px;
	font-size: 28px;
	color: white;
	background: url('');
	background-color: #007ADF;
	border: 1px solid #007ADF;	
}

.small-button {
	position: absolute;
	bottom: 80px;
	left: 50%;
	margin-left: -70px;
	width: 140px;
	height: 60px;
	font-size: 28px;
	color: white;
	background: url('');
	background-color: #007ADF;
	border: 1px solid #007ADF;	
}

.orange {
	color: #FB983B;
}

#loading-page .title {
	position: absolute;
	top: 200px;
	left: 140px;
}

/*************************************TO BE MOVED?****************************************/

#student-chosen-organisms {
	position: absolute;
	top: 20px;
	right: 20px;
}

#student-chosen-organisms .organism-image {
	height: 200px;
	width: 200px;
}

#survey-organisms .survey-content-box {
	margin-top: 20px;
	text-align: center;
}

#survey-organisms .survey-content-table {
	margin-left: auto;
	margin-right: auto;	
	margin-top: 30px;	
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;	
}

#survey-organisms .survey-content-table th {
	width: 260px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px 0px;
}

#survey-organisms .survey-content-table td {
	height: 100px;
	border-left: 1px solid black;
}

#survey-organisms .survey-done-text {
	margin-top: 170px;
	text-align: center;
}

/*************************************TO BE MOVED?****************************************/

#rotation-note-taker .rainforest-choice {
	margin-top: 35px;
}

#rotation-note-taker .rainforest-choice-radios {
	margin-top: 20px;
	text-align: center;
}

#rotation-note-taker .rainforest-explanation {
	margin-top: 25px;
}

#rotation-note-taker .rainforest-explanation-text-entry {
	margin-top: 5px;
	width: 440px;
	height: 168px;
	font-size: 24px;
}

.rotation-link {
	margin-top: 80px;
	text-align: center;
	text-decoration: underline;
	color: #00A99D;
}

.iframe {
	position: absolute;
	top: 36px;
	width: 800px;
	height: 1150px;
	display: table;
}

#iframe-close-button {
	position: absolute;
	top: 3px;
	right: 120px;
	width: 80px;
	height: 30px;
	display: table;
	font-size: 14px;
}

/*************************************TO BE MOVED?****************************************/

#interview-intro .links {
	margin-top: 100px;
	text-align: center;
	text-decoration: underline;
	color: #00A99D;
}

#interview .suggested-questions {
	position: absolute;
	top: 0px;
	left: 50%;			
	margin-left: -260px;
	width: 520px;
	height: 280px;
	display: table;
	background-color: #F7F7F7;
	padding: 20px;
	font-size: 20px;
}

#interview .suggested-questions .title {
	font-size: 24px;
	margin-bottom: 10px;
}

#interview .dropdown-content-box {
	margin-top: 20px;
	text-align: center;
}

#interview .dropdown {
	height: 50px;
	width: 100px;
	font-size: 42px;
}

#interview .interview-content-title {
	margin-top: 25px;
}

#interview .interview-content-text-entry {
	margin-top: 5px;
	width: 440px;
	height: 350px;
	font-size: 24px;
}

/*************************************TO BE MOVED?****************************************/

#group-notes {
	position: absolute;
	left: 50%;			
	margin-left: -330px;
	width: 660px;
	height: 1186px;
	display: table;
	background-color: #F7F7F7;
}

#group-notes .table-wrapper {
	position: absolute;
	left: 50%;
	margin-left: -330px;
	width: 660px;
	height: 660px;
	overflow-y: auto;
	overflow-x: hidden;
}

#group-notes .notes-table {
	width: 634px;
	border: 1px solid black;
	border-collapse: collapse;
	table-layout: fixed;
}

#group-notes .notes-table th {
	height: 55px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#group-notes .table-header-small {
	width: 165px;
}

#group-notes .table-header-big {
	width: 304px;
}

#group-notes .notes-table td {
	padding-left: 10px;
	padding-top: 8px;
	border-left: 1px solid black;
	text-align: left;
	vertical-align: top;
	font-size: 18px;
}

#group-notes .divider {
	margin-top: 665px;
}

#group-notes .completion-text {
	margin-top: 10px;
	margin-left: 20px;
	height: 52px;
	vertical-align: middle;
}

#group-notes .sync-button {
	margin-left: 80px;
	width: 354px;
	height: 52px;
	font-size: 24px;
	color: white;
	background: url('');
	background-color: #00A99D;
	border: 1px solid #00A99D;
}

#group-notes .group-notes-content-box {
	position: absolute;
	left: 50%;
	margin-left: -225px;
	margin-top: 140px;
	width: 450px;
	text-align: center;
}


/*************************************TO BE MOVED?****************************************/

#final-picks-ranking .final-picks-content-table {
	margin-left: auto;
	margin-right: auto;	
	margin-top: 30px;	
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;	
}

#final-picks-ranking .final-picks-content-table th {
	width: 240px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px 0px;
}

#final-picks-ranking .final-picks-content-table td {
	height: 90px;
	border-left: 1px solid black;
}

#final-picks-ranking .dropdown {
	height: 50px;
	width: 100px;
	font-size: 34px;
}

#final-picks-ranking .final-picks-done-text {
	margin-top: 60px;
	text-align: center;
}


#final-picks-discuss .discussion-content-box {
	margin-top: 60px;
}

#final-picks-discuss .discussion-content-text-entry {
	margin-top: 5px;
	width: 440px;
	height: 284px;
	font-size: 24px;
}
